# GitHub Secrets-с автоматаар үүснэ — энэ файлыг git-д commit хийхгүй

# MongoDB
MONGODB_URI=mongodb+srv://...

# JWT
JWT_SECRET=
REFRESH_SECRET=

# Customer DB
CUSTOMER_DB_USERNAME=postgres
CUSTOMER_DB_PASSWORD=

# Image tags — deploy бүрт шинэчлэгдэнэ
BACKEND_IMAGE=nurlan123/hospital-backend
BACKEND_TAG=v1.0.0

FRONTEND_IMAGE=nurlan123/hospital-front-end
FRONTEND_TAG=v1.0.0

ICD10_CODE_IMAGE=nurlannn/icd10-code-service
ICD10_CODE_TAG=v1.0.0

ICD10_SUGGEST_IMAGE=nurlannn/icd10-suggest-service
ICD10_SUGGEST_TAG=v1.0.0

CUSTOMER_REG_IMAGE=nurlan123/customer-registration-service
CUSTOMER_REG_TAG=v1.0.0
